$icomoon-font-path: "fonts" !default;

$nbcon--add-create: "\e904";
$nbcon--library: "\e90f";
$nbcon--user-menu-icon: "\e910";
$nbcon--arrow-down-stroke: "\e900";
$nbcon--arrow-right-stroke: "\e901";
$nbcon--arrow-right-filled: "\e902";
$nbcon--arrow-down-filled: "\e903";
$nbcon--more-menu-dots-only: "\e905";
$nbcon--more-menu-stoke: "\e906";
$nbcon--more-menu-fill: "\e907";
$nbcon--search: "\e908";
$nbcon--refresh-clear: "\e909";
$nbcon--filter: "\e90a";
$nbcon--audience: "\e90b";
$nbcon--dollar-sign: "\e90c";
$nbcon--number-sign: "\e90d";
$nbcon--delete-x: "\e90e";
$nbcon--Auto: "\e911";
$nbcon--CPG-food: "\e912";
$nbcon--CPG-health-beauty: "\e913";
$nbcon--CPG-home: "\e914";
$nbcon--Consumer-electronics: "\e915";
$nbcon--ecommerce: "\e916";
$nbcon--entertainment: "\e917";
$nbcon--finance: "\e918";
$nbcon--insurance: "\e919";
$nbcon--pharma: "\e91a";
$nbcon--QSR: "\e91b";
$nbcon--retail: "\e91c";
$nbcon--telco: "\e91d";
$nbcon--travel: "\e91e";
$nbcon--other-category: "\e91f";

