$icomoon-font-path: "fonts" !default;

$u-supre-icon--checked: "\e920";
$u-supre-icon--partial-check: "\e921";
$u-supre-icon--unchecked: "\e922";
$u-supre-icon--add-create: "\e904";
$u-supre-icon--library: "\e90f";
$u-supre-icon--user-menu-icon: "\e910";
$u-supre-icon--arrow-down-stroke: "\e900";
$u-supre-icon--arrow-right-stroke: "\e901";
$u-supre-icon--arrow-right-filled: "\e902";
$u-supre-icon--arrow-down-filled: "\e903";
$u-supre-icon--more-menu-dots-only: "\e905";
$u-supre-icon--more-menu-stoke: "\e906";
$u-supre-icon--more-menu-fill: "\e907";
$u-supre-icon--search: "\e908";
$u-supre-icon--edit: "\e923";
$u-supre-icon--snapshot: "\e924";
$u-supre-icon--export: "\e925";
$u-supre-icon--refresh-clear: "\e909";
$u-supre-icon--filter: "\e90a";
$u-supre-icon--audience: "\e90b";
$u-supre-icon--dollar-sign: "\e90c";
$u-supre-icon--number-sign: "\e90d";
$u-supre-icon--delete-x: "\e90e";
$u-supre-icon--Auto: "\e911";
$u-supre-icon--CPG-food: "\e912";
$u-supre-icon--CPG-health-beauty: "\e913";
$u-supre-icon--CPG-home: "\e914";
$u-supre-icon--Consumer-electronics: "\e915";
$u-supre-icon--ecommerce: "\e916";
$u-supre-icon--entertainment: "\e917";
$u-supre-icon--finance: "\e918";
$u-supre-icon--insurance: "\e919";
$u-supre-icon--pharma: "\e91a";
$u-supre-icon--QSR: "\e91b";
$u-supre-icon--retail: "\e91c";
$u-supre-icon--telco: "\e91d";
$u-supre-icon--travel: "\e91e";
$u-supre-icon--other-category: "\e91f";

